<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    body {
      width: 100%;
      height: 100%;
    }

    #root {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div id="root">
  </div>
  <script>
    require('./test/dump-coverage').dumpCoverageOnClose()
    const { sendResponse } = require('./dist/index')

    var rootEl = document.getElementById('root')
    rootEl.addEventListener('mouseup', function() {
      sendResponse('ejs')
    });
  </script>
</body>

</html>
